<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sam Blog</title>
</head>
<body>
    <header>
        <h1>Sam's Blog </h1>
        <p>Welcome to my blog!</p>
    </header>

    <article>
        <time>published: 2022-02-28</time>
        <h2> <a href="">My first blog post</a></h2>
            <p>This is my first blog post!</p>
    </article>

    <article>
        <time>published: 2022-02-28</time>
        <h2> <a href="">My second blog post</a></h2>
            <p>This is my second blog post!</p>
    </article>
    
    
</body>
</html>